@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .half-blur-circle {
    @apply relative hidden sm:flex justify-center items-center before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:rounded-full before:bg-violet-900 after:absolute after:top-1/2 after:left-0 after:w-full after:h-1/2 after:bg-white/30 after:backdrop-blur-md after:z-10
  }

  .form-label-text {
    @apply block text-sm font-medium leading-6 text-gray-900
  }

  .form-label-input {
    @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-600 sm:text-sm sm:leading-6
  }
}

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: Rubik, Fallback;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

::selection {
  background: rgba(var.$color-text, 0.15);
}

#app {
  width: 100%;
  height: 100%;
}
